/* V A R S */

/* T Y P O */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
    font-family: "ArgonFont";
    src: url("../fonts/ArgonPERSONAL-Regular.otf");
}

$font-Argon: "ArgonFont" , Arial;
$font-Rigteous: "Righteous", Arial;
$font-Kanit: "Kanit", Arial;
$font-Roboto: 'Roboto', Arial;

/* C O L O R S */
$color-1: #171717;
$color-2: #EDEDED;
$color-3: #3a3a3a;
$color-4: #73CFD9;
$color-5: #CA4773;
